<header>
    <div class="container">
        <nav class="main-nav">
            <div class="logo-item">
                <a href="#">
                    <h2 class="logo">JUSTICE LEAGUE</h2>
                </a>
            </div>
            <ul class="nav-button" role="navigation">
                <a href="#" class="button is-active">
                    <li class="buttons">
                        Accueil
                    </li>
                </a>
                <a href="#" class="button">
                    <li class="buttons">
                        Personnages
                    </li>
                </a>
                <a href="#" class="button">
                    <li class="buttons">
                        Comics
                    </li>
                </a>
            </ul>
            <div class="right-user">
                <span>Maxime</span>
                <div class="avatar">
                    <%= image_tag("avatar_joker") %>
                </div>
            </div>
        </nav>
    </div>
</header>
