.btn {
    padding: 10px;
    border-radius: 17px;
}

.btn-indigo-full {
    background-color: #4c5365;
    border: 4px solid #4c5365;

    transition: all 0.1s ease-in
}

.btn-indigo-full:hover {
    background-color: transparent;
}

.btn-indigo-empty {
    border: 1px solid antiquewhite;

    transition: all 0.1s ease-in
}

.btn-indigo-empty:hover {
    background-color: #4c5365;
    border: 1px solid #4c5365;
    color: white
}
