header {
    background-color: #272727;
    color: white
}

nav {
    display: flex;
    height: 110px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav>* {
    display: flex;
    align-items: center
}

.nav-btn:hover {
    background-color: #4c5365;
    height: 110px;
    line-height: 110px;
}

.is-active {
    background-color: #4c5365;
    height: 110px;
    line-height: 110px;
}

nav li {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 10px;
    margin: 0 1px;
    text-transform: uppercase;
    font-size: large
}

.right-user > * {
    margin-left: 15px;
}
