/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Lato|Passion+One');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* FONTS */

body {
    font-family: 'Lato', sans-serif;
    background-color: #f1f1f1;
}

h1,
h2,
h3 {
    font-family: 'Passion One', cursive
}

/* LINKS */

a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style-type: none;
    padding: 0
}

.container {
    max-width: 1000px;
    margin: 0 auto
}
